.head{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.icon{
 font-size: 40px;
 color: #55565B;
}
.email{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 40px;
 width: 40px;
 border-radius: 50%;
 background-color: #D40D6D;
}
.email-S{
 color: white;
 font-weight: normal;
 font-size: 1.5rem;
}
.google{
 background-image: url("Google.png");
}
.img-box{
  display: flex;
 height: 3rem;
 width: 9rem;
 margin-top: 35px;
 margin-left: 100px;
 height:50px;}
 .bar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 348px;
  background-color: #f1f3f4;
  margin-top: 20px;
  border-radius: 45px;
 }
 .search-bar{
  width:100%;
  border: none;
  outline: none;
  background-color: transparent;
  color:#5f6368;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 30px;
  
 }
 .mic{
  font-size: 30px;
  height: 25px;
  width:70px;
 }
 .cam{
  font-size: 30px;
  height:25px;
  width:80px;
 }

 .panel{
 display: flex;
 justify-content: space-between;
  background-color:white;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
 }
.AI{
 display: flex;
 justify-content: center;
 position: relative;
 background-color:#f1f3f4;
 height: 70px;
 width:100%;
 border-radius: 30px;
 margin-right: 5px;
}
.glass{
 font-size: 30px;
 position: absolute;
 bottom: 20px;
 left: 20px;
 }


.text{
 font-weight:401;
 font-size:1.2rem;
 color: #222;
 position: absolute;
 bottom: 6px;
 left: 60px;
}
.something{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f1f3f4;
 width:45%;
 border-radius: 60px;
 margin-right: 5px;
}
.bars{
 font-size: 20px;
}
.banana{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f1f3f4;
 width: 150px;
 border-radius: 55px;
}
.B{
 height: 30px;
}
.boxes{
 display: flex;
 justify-content: space-between;
 margin-top: 35px;
 position: relative;
}
.box1{
 display: flex;
 flex-wrap: wrap;
 border: 2px solid rgba(194, 194, 194, 1) ;
 border-radius: 20px;
 height:90px;
 width: 160px;
}
.nashik{
 font-weight: 500;
 font-size: 1rem;
 position: absolute;
 left: 10px;
 bottom: 45px;
}
.dots{
 font-size: 20px;
 position: absolute;
 left: 140px;
 bottom:64px;
}
.moon{
 font-size: 30px;
 position: absolute;
 left: 130px;
 bottom: 10px;
 color: rgba(12, 156, 237, 1);
}
.temperature{
 display: flex;
 position: absolute;
 left: 10px;
 top:35px;
}
.temp{
 font-size: 1.5rem;
 font-weight: 450;
}
.cloud{
 font-size: 20px;
 position: relative;
 top: 30px;
 color: rgba(194,194,194,1);
}
.percent{
 color: rgba(194,194,194,1);
 position: relative;
 top: 15px;
 left:2px;
}
.box2{
 border: 2px solid rgba(194, 194, 194, 1) ;
 border-radius: 20px;
 height:90px;
 width: 160px;
}
.value{
 display: flex;

 
}
.gold{
 position: absolute;
 left:190px;
 bottom: 48px;
 font-weight: 500;
}
.per{
 position: absolute;
 left: 230px;
 bottom: 50px;
 font-size: 0.9rem;
 color: green;
 font-weight: 500;
}
.rate{
 position: absolute;
 top:45px;
 right: 60px;
 font-weight: 500;
 font-size:1.2rem;
}
.circle{
 display: flex;
 justify-content: center;
 align-items: center;
 height:35px;
 width:35px;
 border-radius: 50%;
 background-color: rgba(14, 157, 73, 0.5);
 position: absolute;
 bottom: 10px;
 right:10px;
}
.dot{
 font-size: 1.3rem;
 position: absolute;
 bottom: 63px;
 left:320px;
}
.post-1{
 position: relative;
 background-color: transparent;
 height: 500px;
 width: 350px;
 margin-top: 30px;
}
.nature{
 width: 350px;
 position: absolute;
 top: 50px;
 }
.insta{
 width:30px;
 border-radius: 50%;
 position: absolute;
 top:10px;
}
.name{
 font-size: 1rem;
 font-weight: 400;
 position: absolute;
 left: 40px;
}
.follow{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;
 border: 1px solid rgba(194, 194, 194, 1);
 height: 25px;
 width: 60px;
 border-radius: 12.5px;
 position: absolute;
 right: 50px;
 top: 12px;
}
.ver-dot{
 font-size: 20px;
 position: absolute;
 right: 20px;
 top: 15px;
}
.para{
 font-size: 1.5rem;
 position: absolute;
 bottom: 160px ;
 margin-left: 5px;
}
.footer{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: transparent;
 height: 50px;
 width:350px;
 position: absolute;
 bottom: 130px;
 border-bottom: 1.5px solid rgba(194, 194, 194, 1) ;
}
.time{
  color: rgba(194, 194, 194, 1);
  font-size: 1 rem;
  font-weight: 300;
  position: absolute;
  left: 20px;
 }
.heart{
 font-size: 20px;
 position: absolute;
 right: 70px;
}
.node{
 font-size: 20px;
 position: absolute;
 right: 30px;
}
